<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
</br>
<h2>Logged in user details :</h2>
<p><b>First Name : {{fName}}</b></p>
<p><b>Last Name : {{lName}}</b></p>
<p><b>Email Address : {{email}}</b></p>
</br></br>
<h3>Select a file to count</h3>
<h3>the frequency of characters in it :</h3>
<form action = "{{ url_for('uploader') }}" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
</form>
</body>
</html>
